@{
    ViewBag.Title = "Home Page";
}

<div >
  
</div>

<div class="row">
    <div class="col-md-4" >
        
            <h2 class ="HomeHeading">@Html.ActionLink("Players", "Index", "Players")</h2>
        <div class="HomeImageDiv">
            <img src=@Url.Content("~/images/TeamPhoto.jpg") class="HomeImage" />
        </div>
        
      
    </div>
    <div class="col-md-4">
        <h2 class="HomeHeading">@Html.ActionLink("Matches", "Index", "Matches")</h2>
        <div class="HomeImageDiv">
            <img src=@Url.Content("~/images/Rugbyball.png") class="HomeImage" />
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="HomeHeading">@Html.ActionLink("Availability", "Index", "Availabilities")</h2>
        <div class="HomeImageDiv">
            <img src=@Url.Content("~/images/tick.png") class="HomeImage" />
        </div>
    </div>
</div>