@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Players", "Index", "Players", null, null)</h2>
        <div>
            
        </div>
        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Matches", "Index", "Matches", null, null)</h2>
        <div>

        </div>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Availability", "Index", "Availability", null, null)</h2>
        <div>

        </div>
    </div>
</div>